<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chat App</title>
  </head>
  <body>
    <h1>hello world</h1>
    <form action="/" method="post">
      <input type="text" name="username" value="username">
      <input type="password" name="password" value="password">
      <input type="submit" name="submit" value="submit">
    </form>

    <div id="root"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>
