<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Logout</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <h2>Chess Chat</h2>
      </div>

      <div class="profile">
        <div class="profile-link">
          <a href="/profile/{{ logged_in_user }}/"><p>{{ logged_in_user }}</p></a>
        </div>
      </div>
    </div>

    <form action="/logout/" method="post">
      <input type="submit" name="Logout" value="Logout">
    </form>
  </body>
</html>
