<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <h2>Chess Chat</h2>
      </div>

      <div class="profile">
        <div class="profile-link">
          <a href="/profile/{{ logged_in_user }}/"><p>{{ logged_in_user }}</p></a>
        </div>
      </div>
    </div>

    <div class="profile-container">
      <div class="control-panel">
        <div class="profile-button">
          <a href="/logout/"><p>Logout</p></a>
        </div>
        <hr>
        <div class="profile-button">
          <a href="/search/"><p>Search</p></a>
        </div>
      </div>

      <div id="reactEntry-Profile">
        loading...
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
  </body>
</html>
