<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="home-page-container">
      {% if status == "bad username" %}
        <p style="color: red;">username already exists</p>
      {% elif status == "bad password" %}
        <p style="color: red;">passwords do not match</p>
      {% endif %}
      
      <div class="form-container">
        <form action="/register/" method="post">
          <div class="input-container">
            <input type="text" name="username" value="username" placeholder="username">
          </div>
          <div class="input-container">
            <input type="password" name="password" value="password">
          </div>
          <div class="input-container">
            <input type="password-2" name="password-2" value="password-2">
          </div>
          <div class="login-container">
            <input type="submit" name="submit" value="submit">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
