<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Player Search</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <h2>Chess Chat</h2>
      </div>

      <div class="profile">
        <div class="profile-link">
          <a href="/profile/{{ logged_in_user }}/"><p>{{ logged_in_user }}</p></a>
        </div>
      </div>
    </div>

    <div id="reactEntry-Search">
      loading...
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
  </body>
</html>
