<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Player Search</title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <h2>Chess Chat</h2>
      </div>

      <div class="profile">
        <a href="/{{ logged_in_user }}/">{{ logged_in_user }}</a>
      </div>
    </div>
    
    <div id="reactEntry-Search">
      loading...
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>
