/* body */
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Rokkitt', serif;
}
.body-container {
  height: 130vh;
  width: 100vw;
  background-image: url("/static/home-page-pic.jpg");
  background-size: cover;
}
input {
  font-family: 'Rokkitt', serif;
  font-size: 110%;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 50px;
  border-bottom: 1.5px solid lightgrey;
  background-color: white;
}
.profile {
  float: right;
}

/* Whole Page */
.home-page-container {
  width: 400px;
  margin: 0 auto;
  border: 1.25px solid lightgrey;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: white;
}
.main-container {
  height: 90vh;
  /* background-image: url("/static/home-page-pic.jpg");
  background-size: cover; */
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-18%);
}

/* Title */
h1 {
  text-align: center;
}

/* Form Container */
.form-container {
  width: 95%;
  margin: 0 auto;
  background-color: white;
}
.form-container div {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

/* Inputs */
.input-container input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 2.5px;
}

/* Submit */
.login-container input {
  width: 97%;
  margin-top: 17.5px;
  padding: 5px;
}

.sign-up-link {
  width: 400px;
  margin: 0 auto;
  border: 1.25px solid lightgrey;
  margin-top: 10px;
  text-align: center;
  background-color: white;
}

/* Profile */
.navbar div {
  height: 100%;
}
.navbar h2 {
  margin: 0;
  margin-left: 10px;
}
.navbar p {
  margin: 0;
  margin-right: 10px;
}
.profile {
  width: 20%;
  float:left;
}
.profile-link {
  clear: left;
  float: right;
  display: flex;
  align-items: center;
}
.logo {
  width: 80%;
  float: left;
  display: flex;
  align-items: center;
}

/* Profile Page Buttons */
.profile-container {
  width: 100%;
}
.profile-button {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid grey; */
}
.control-panel {
  width: 20%;
  border: 1.25px solid lightgrey;
  height: auto;
  padding: 30px 5px 30px 5px;
  margin: 30px;
  float: left;
}
.friends-container {
  width: 40%;
  float: left;
  border: 1.25px solid lightgrey;
  padding-left: 20px;
  margin: 30px;
}